.banner-container {
    width: 100%;
    margin-top: 40px;
}

.banner-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}
